body{
    width: 1551px;
    margin: auto;
}
.navebar{
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 98px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(87, 87,87);
    font-family: "arimo";
}
.menu li a {
    text-decoration: none;
    color: rgb(87, 87,87) ;
    font-size: 18px;
    font-weight: 500;
}
.navreg button{
    background-color: #1D4ED8;
    color: white;
    width: 188px;
    height: 48px;
    padding: 12px 12px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Inter";
    font-weight: bold;
}
.navreg button:hover{
    cursor: pointer;
}
.logo:hover{
cursor: pointer;
}
.hero{
    background-image: url(assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 786px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align: center;
    color: #FFFFFF;
}
.herotext h1 {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 1px;
}
.herotext p {
    max-width: 700px;
    font-size: 22px;
    margin-top: 20px;
}
.heroreg button{
    background-color: #1D4ED8;
    color: white;
    width: 242px;
    height: 74px;
    padding: 12px 12px;
    border: none;
    font-size: 24px;
    border-radius: 10px;
    font-family: "Inter";
    font-weight: bold;
    margin-top: 350px;
}
.speakers-section {
    height: 1322px;
    text-align: center;
    padding-top: 100px;
    text-align: left;
}
.speakers-section h2 {
    font-family: "Inter", sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 80px;
    text-align: center;
}
.speaker-container {
    width: 1321px;
    height: 1088px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.speaker-card {
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    text-align: left;

}
.speaker-card img {
    width: 642px;
    height: 324px;
    border-radius: 10px;
}
.profession {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
    margin-left: 20px;
}
.speaker-card h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin-left: 20px;
}
.designation {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-left: 20px;
}
.speaker-card  :hover{
    cursor: pointer;
}
